* {
    margin: 0;
    padding: 0;
}

body{

    background-image: url(./pexels-kübra-kuzu-17538207.jpg);
    background-size: calc(70%);
    background-position: center;
}


h2 {

    line-height: 50px;
}

#contenedor {
    position: relative;
    width: 1500px;
    height: 800px;
    border: 2px solid #000;
    box-sizing: content-box;
    overflow: hidden;
    margin-left: auto;
    margin-top: 10px;
    background-color: rgba(23, 73, 23, 0.856);
    z-index: -2;
   
}

#pelota {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 250, 104);
    border-radius: 30px;
}

.pala1 {

    position: absolute;
    left: 100px;
    width: 10px;
    height: 200px;
    background-color: #0300ca;
    transition: top 60ms linear;


}

.pala2 {

    position: absolute;
    right: 100px;
    width: 10px;
    height: 200px;
    background-color: #000;
    transition: top 60ms linear;

}

.seleccion {

    margin: 5px 20px 5px 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: darkgrey;

}

#select {

    margin-left: 35px;
    margin-top: 10px;
}

.puntosPlayer1 {

    position: absolute;
    top: 25px;
    left: 200px;
    width: 50px;
    height: 50px;
    background-color: #0300ca;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: -1;
}

.puntosPlayer2 {

    position: absolute;
    top: 25px;
    right: 200px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: -1;
}

select {

    width: 150px;
    height: 30px;
    border: navy 1px solid;
    border-radius: 2px;
    background-color: darkslategray;
    color: darkgoldenrod;
}

span {

    color: darkslategray;
    font-size: 1.3em;

}

.instrucciones {

    width: 50px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: auto;
    padding: 0 5px 0 5px;
    justify-content: space-evenly;
    text-align: center;
    background-color: gray;
    margin-top: 10px;
    border: 2px #000 dashed;
    font-size: 1.5rem;
    color: navy;
    
}



.pantalla{

    display: flex;

}